*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: bahnschrift;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.container{
  float: left;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgb(72, 36, 102), rgb(21, 28, 92));
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio_player{
  float: left;
  width: 400px;
  height: 650px;
  background: linear-gradient(45deg, rgb(0, 0, 0), rgb(56, 54, 83));
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 50px;
  padding-top: 40px;
  position: relative;
  box-shadow: inset 0px 0px 10px 0px rgb(0, 0, 0);
}

.audio_player .loading{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.audio_player .loading .loader{
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flexbox;
  justify-content: center;
}

.audio_player .loading .loader p{
  color: rgb(21, 194, 73);
  float: left;
}

.audio_player .loading .transparent{
  background: white;
  opacity: .9;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.audio_player .loading span{
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  padding-top: 1px;

}
.audio_player .loading span:nth-child(1){
  animation-name: anim1;
}
.audio_player .loading span:nth-child(2){
  animation-name: anim2;
}
.audio_player .loading span:nth-child(3){
  animation-name: anim3;
}
.audio_player .loading span:nth-child(4){
  animation-name: anim3;
}
.audio_player .loading span:nth-child(5){
  animation-name: anim3;
}

@keyframes anim1 {
  0%{
    background: red;
  }
}

@keyframes anim2 {
  20%{
    background: red;
  }
}

@keyframes anim3 {
  40%{
    background: red;
  }
}

@keyframes anim4 {
  60%{
    background: red;
  }
}

@keyframes anim5 {
  80%{
    background: red;
  }
}

.audio_player .image{
  width: 100%;
  height: 45%;
  background: rgb(223, 223, 223);
  border-radius: 20px;
  float: left;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px rgb(21, 194, 73);
}

.audio_player .image img{
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
}

.audio_player .timeline{
  float: left;
  color: rgb(255, 255, 255);
  margin-top: 25px;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.audio_player .info{
  float: left;
  width: 100%;
  height: 15%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.audio_player .info .contents{
  float: left;
  width: 85%;
}

.audio_player .info .icon{
  font-size: 30px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio_player .info .icon i{
  color: rgb(203, 207, 221);
}

.audio_player .info h6{
  font-size: 18px;
  font-weight: 600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
}

.audio_player .info p{
  font-size: 15px;
  margin-top: 3px;
  color: rgb(255, 255, 255);
}

.audio_player .seek_bar{
  float: left;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.audio_player .alt{
  flex-direction: row !important;
  margin-bottom: 20px;
}

.audio_player .alt .icon{
  width: 30px !important;
  font-size: 16px;
}

.audio_player .alt .icon i{
  color: rgb(255, 255, 255);
}

.audio_player .seek_bar .range_slider{
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  margin: 5px 0px;
}

.audio_player .seek_bar .range_slider .track{
  float: left;
  height: 6px;
  border-radius: 50px;
  background: rgb(0, 255, 149);
  position: absolute;
  left: 0;
}

.audio_player .alt .range_slider .track{
  background: rgb(0, 255, 149) !important;
}

.audio_player .seek_bar .range{
  width: 100%;
  opacity: 1;
  -webkit-appearance: none;
  background: none;
  height: 6px;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
}

.audio_player .seek_bar .range::-moz-range-thumb{
  -webkit-appearance: none;
  width: 12px;
  height:12px;
  background: rgb(0, 255, 149);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.audio_player .alt .range::-moz-range-thumb{
  background: rgb(0, 255, 149) !important;
}

.audio_player .seek_bar .times{
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 0px 5px;
}

.audio_player .controls{
  float: left;
  width: 100%;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.audio_player .controls .buttons{
  border: none;
  background: none;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  float: left;
}

.audio_player .controls .play{
  background: rgb(21, 194, 73);
  border-radius: 50px;
  width: 65px;
  height: 65px;
}

.audio_player .controls .play i{
  color: white;
}

.audio_player .controls .play .tri{
  margin-left: 5px;
}

@media screen and (max-width: 480px) {
  .audio_player{
    width: 100%;
    height: 100vh;
    padding: 40px;
    border-radius: 0px;
  }
}


/* Mobile View */

@media screen and (max-width: 435px) {
  .audio_player{
    width: 100%;
    height: 100vh;
    padding: 30px;
    border-radius: 0px;
  }
}